<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                <li>@Html.ActionLink("RSS", "RSS", "Home")</li>
                <li>@Html.ActionLink("DMCA", "DMCA", "Home")</li>
                <li>@Html.ActionLink("Donate", "Donate", "Home")</li>
                <li>@Html.ActionLink("Sitemap", "Sitemap", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Copyright © 2016 @Html.ActionLink("MyEbook", "Index", "Home")
        </div>
    </div>
</div>
