@model ProductsEStore.Models.ViewModelBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <header>
        @Html.Partial("_NavbarPartial", @Model.NavigationBar)
    </header>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-1 sidenav">
            </div>
            <div class="col-sm-10 text-left">
                <p>@RenderBody()</p>
            </div>
            <div class="col-sm-1 sidenav">
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        @Html.Partial("_FooterPartial")
    </footer>
</body>
</html>
