@model ProductsEStore.Models.ProductListViewResult
@{
    ViewBag.Title = "Search Results";
    int cols = 4;
    int totalBookCount = Model.ViewProducts.Count;
    int rows = (totalBookCount / cols) + (totalBookCount % cols > 0 ? 1 : 0);
    int bookIndex = 0;
}
@if (@Model.FoundResult)
{
    <div>
        <h3>
            @Model.Header.Message
        </h3>
    </div>

    <div class="container-fluid">
        @for (int row = 1; row <= rows && bookIndex < totalBookCount; row++)
        {
            <div class="row">
                @for (int col = 1; col <= cols && bookIndex < totalBookCount; col++)
                {
                    var lg = (12 / cols);
                    var md = ((12 / cols) * 2) > 12 ? 12 : ((12 / cols) * 2);
                    var sm = 12;
                    var xs = sm;

                    string colLayout = string.Format("col-lg-{0} col-md-{1} col-sm-{2} col-xs-{3}", lg, md, sm, xs);
                    <div class="@colLayout">
                        <div class="panel panel-info">
                            <div class="panel-heading text-nowrap">
                                <h5 class="panel-title" style="overflow: hidden">@Model.ViewProducts[bookIndex].Title</h5>
                            </div>
                            <div class="panel-body">
                                <img src="@Model.ViewProducts[bookIndex].CoverPageUrl" alt="phyton guide"
                                    class="img-thumbnail img-responsive">
                            </div>
                        </div>
                    </div>
                    bookIndex++;
                }
            </div>
        }
        <div class="container-fluid text-center">
            @Html.Partial("_PagerPartial", @Model.Pager)
        </div>
    </div>
}
else
{
    <h1 class="h2 alert-danger">
        @Model.Header.Message
    </h1>
    <p>
        Sorry, no ebooks matched your criteria.</p>
}
