@model ProductsEStore.Models.ProductsViewLayout
@if (@Model.HasRenderableProducts)
{
    <div>
        <h5>
            @Model.LayoutHeader.Message
        </h5>
    </div>
    <div class="container-fluid">
        <div class="container-fluid text-center">
            @Html.Partial("_ListViewPartial", @Model.ProductsDisplay)
        </div>
        <div class="container-fluid text-center">
            @Html.Partial("_PagerPartial", @Model.Pager)
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <p>
            Sorry, no ebooks matched your criteria.</p>
    </div>
}
